fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
chromadb
gitpython
tiktoken
sentence-transformers
torch